[submodule "system_files/shared/usr/share/gnome-shell/extensions/blur-my-shell@aunetx"]
	path = system_files/shared/usr/share/gnome-shell/extensions/blur-my-shell@aunetx
	url = https://github.com/aunetx/blur-my-shell.git
[submodule "system_files/shared/usr/share/gnome-shell/extensions/AlphabeticalAppGrid@stuarthayhurst"]
	path = system_files/shared/usr/share/gnome-shell/extensions/AlphabeticalAppGrid@stuarthayhurst
	url = https://github.com/stuarthayhurst/alphabetical-grid-extension.git
[submodule "system_files/shared/usr/share/gnome-shell/extensions/dash-to-dock@micxgx.gmail.com"]
	path = system_files/shared/usr/share/gnome-shell/extensions/dash-to-dock@micxgx.gmail.com
	url = https://github.com/micheleg/dash-to-dock.git
