[submodule "system_files/shared/usr/share/gnome-shell/extensions/blur-my-shell"]
	path = system_files/shared/usr/share/gnome-shell/extensions/blur-my-shell
	url = https://github.com/aunetx/blur-my-shell.git
[submodule "system_files/shared/usr/share/gnome-shell/extensions/dash-to-dock"]
	path = system_files/shared/usr/share/gnome-shell/extensions/dash-to-dock
	url = https://github.com/micheleg/dash-to-dock.git
[submodule "system_files/shared/usr/share/gnome-shell/extensions/gnome-shell-extension-appindicator"]
	path = system_files/shared/usr/share/gnome-shell/extensions/gnome-shell-extension-appindicator
	url = https://github.com/ubuntu/gnome-shell-extension-appindicator.git
[submodule "system_files/shared/usr/share/gnome-shell/extensions/openbar"]
	path = system_files/shared/usr/share/gnome-shell/extensions/openbar
	url = https://github.com/neuromorph/openbar.git
[submodule "system_files/shared/usr/share/gnome-shell/extensions/alphabetical-grid-extension"]
	path = system_files/shared/usr/share/gnome-shell/extensions/alphabetical-grid-extension
	url = https://github.com/stuarthayhurst/alphabetical-grid-extension.git
[submodule "system_files/shared/usr/share/gnome-shell/extensions/Burn-My-Windows"]
	path = system_files/shared/usr/share/gnome-shell/extensions/Burn-My-Windows
	url = https://github.com/Schneegans/Burn-My-Windows.git
[submodule "system_files/shared/usr/share/gnome-shell/extensions/gnome-shell-extension-clipboard-indicator"]
	path = system_files/shared/usr/share/gnome-shell/extensions/gnome-shell-extension-clipboard-indicator
	url = https://github.com/Tudmotu/gnome-shell-extension-clipboard-indicator.git
[submodule "system_files/shared/usr/share/gnome-shell/extensions/color-picker"]
	path = system_files/shared/usr/share/gnome-shell/extensions/color-picker
	url = https://github.com/tuberry/color-picker.git
[submodule "system_files/shared/usr/share/gnome-shell/extensions/Desktop-Cube"]
	path = system_files/shared/usr/share/gnome-shell/extensions/Desktop-Cube
	url = https://github.com/Schneegans/Desktop-Cube.git
[submodule "system_files/shared/usr/share/gnome-shell/extensions/status-area-horizontal-spacing-gnome-shell-extension"]
	path = system_files/shared/usr/share/gnome-shell/extensions/status-area-horizontal-spacing-gnome-shell-extension
	url = https://gitlab.com/p91paul/status-area-horizontal-spacing-gnome-shell-extension.git
[submodule "system_files/shared/usr/share/gnome-shell/extensions/quick-settings-avatar"]
	path = system_files/shared/usr/share/gnome-shell/extensions/quick-settings-avatar
	url = https://github.com/d-go/quick-settings-avatar.git
[submodule "system_files/shared/usr/share/gnome-shell/extensions/Vitals"]
	path = system_files/shared/usr/share/gnome-shell/extensions/Vitals
	url = https://github.com/corecoding/Vitals.git
